# DX 파이썬 데이터분석 중급 1일차
## 파이썬 기본
### 주피터노트북

* 순서없는 목록
    * 목록
    * 목록
    * 목록
1. 순서 있는 목록
    1. 목록
    2. 목록
    3. 목록

In [2]:
a = 3
b = 4

print(b-a)
print("I don't know.")
print("I don\'t know.\nI don\'t know.")

1
I don't know.
I don't know.
I don't know.

In [3]:
%run hello.py

안녕

In [4]:
import pandas as pd
pd.__version__

'1.4.3'

In [5]:
pandas.__version__

NameError: name 'pandas' is not defined

In [6]:
import sklearn
sklearn.__version__

'1.1.1'

In [7]:
from pandas import DataFrame

In [8]:
DataFrame?

In [13]:
f = open('hello.py')
f.close()

In [14]:
from os import open

In [15]:
f = open('hello.py')
f.close()

TypeError: open() missing required argument 'flags' (pos 2)

In [16]:
del open

In [17]:
f = open('hello.py')
f.close()

In [19]:
from os import open as os_open

In [20]:
f = open('hello.py')
f.close()

In [21]:
os_open?

In [22]:
del os_open

In [26]:
print?

In [24]:
print('hi', 'python', sep=' ')

hi python

In [25]:
print('hi', 'python', sep=', ')

hi, python

수치형과 연산자

In [28]:
12 // 10 # 12를 10으로 나눈 몫

1

In [29]:
12 % 10 # 12를 10으로 나눈

2

In [30]:
a = 4
b = a
b += 3 # b = b+3, +=, -=, *=, /= , ...
b

7

In [31]:
# 4의 제곱근
import math
math.sqrt(4)

2.0

In [32]:
from math import sqrt
sqrt(4)

2.0

In [33]:
True and False

False

In [34]:
True or False

True

In [35]:
False or False

False

In [36]:
True & False

False

In [37]:
True & True

True

In [38]:
True ^ False

True

In [39]:
False ^ True

True

In [40]:
True ^ True

False

In [41]:
False ^ False

False

In [42]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# print 함수를 활용하는 것과 객체정보 조회의 차이

In [44]:
i = 2
j = 2.0
i is j

False

In [45]:
bool.__repr__?

In [49]:
print(i is j)
print("%d" % (i is j))
print("%.2f" % (i is j))

False
0
0.00

# 제어구문
## 조건문
```
if 조건A:
    코드블럭
elif 조건B:
    코드블럭
else:
    코드블럭
```

## 반복문
### for 루프
```
for i in 반복가능객체:
    코드블럭(i에 대하여)
```

In [54]:
for i in 'hi python':
    print(i, end='/')

h/i/ /p/y/t/h/o/n/

In [57]:
for i in range(0, 10):
     print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [60]:
for i in range(100, 901, 100):
    print(i, end=', ')

100, 200, 300, 400, 500, 600, 700, 800, 900,

In [61]:
for i in [100, 200, 300]:
    print(i, end=', ')

100, 200, 300,

### while 루프
```
while 조건식:
    코드블럭
    if 조건A:
        continue # 이번만 아래코드를 스킵하고 다은차례 계속
    if 조건B:
        break # 즉시 탈출
```

### 반복루프 응용 실습 (~3:10)
- 1부터 10까지의 합을 구하여 total이라는 변수에 치환하는 구문을 작성하시오.
- 실습 완료하신 분들은 코드를 메시지로 보내주세요.

In [63]:
total1 = 0.0
for i in range(1, 11):
    total1 += i
print(total1)
# while 루프 이용
total2 = 0.0
i = 1
while i < 11:
    total2 += i
    i += 1 ## 증감 연산
print(total2)

55.0
55.0

## print 내장함수는 문자열로 형식을 지정해서 표준출력하는 함수

In [75]:
myPI = 3.141592; myInt = 2**(123)

s1 = "%.2f %10.7g" % (myPI, myInt)
print(s1)

s2 = "{0:.2f} {1:10.7g}".format(myPI, myInt)
print(s2)

s3 = f"{myPI:.2f} {myInt:10.7g}"
print(s3)

3.14 1.063382e+37
3.14 1.063382e+37
3.14 1.063382e+37

# 시퀀스: 순서가 있는 자료구호
## 리스트: mutable (요소의 치환 가능)
* 리스트에 요소를 추가 또는 삭제

In [76]:
l = [1, 2, 3]
# append, extend, insert

In [77]:
l.append(4)
l

[1, 2, 3, 4]

In [78]:
l.append([4, 5])
l

[1, 2, 3, 4, [4, 5]]

In [79]:
l.extend(4)
l

TypeError: 'int' object is not iterable

In [80]:
l.extend([4, 5])
l

[1, 2, 3, 4, [4, 5], 4, 5]

In [81]:
l.insert(-1, 4)
l

[1, 2, 3, 4, [4, 5], 4, 4, 5]

In [82]:
l.insert(0, 4)
l

[4, 1, 2, 3, 4, [4, 5], 4, 4, 5]

In [83]:
# 리스트에서 요소 삭제 메소드 remove, pop
l

[4, 1, 2, 3, 4, [4, 5], 4, 4, 5]

In [84]:
l.pop()
l

[4, 1, 2, 3, 4, [4, 5], 4, 4]

In [85]:
l.pop(0)
l

[1, 2, 3, 4, [4, 5], 4, 4]

In [86]:
l.remove(4)
l

[1, 2, 3, [4, 5], 4, 4]

## 리스트 내포

In [88]:
lst = [1, 2, 3]
lst2 = []
for x in lst:
    lst2.append(x**2)
print(lst2)

[1, 4, 9]

In [90]:
lst = [1, 2, 3]
lst2 = [x**2 for x in lst]
print(lst2)

[1, 4, 9]

## 실습: 리스트와 반복문
* 다음의 주어진 리스트 l1의 요소 중에서 l2의 요소와 값이 같은 경우 삭제하는 파이썬 코드블럭을 작성하시오.
* 결과 (l1)
```
['c', 'd']
```

In [91]:
l1 = ['a', 'b', 'c', 'd', 'a', 'b', 'a', 'b']
l2 = ['b', 'a']

In [92]:
l1 = ["a","b","c", "d","a","b","a","b"]
l2 = ["b", "a"]
i=0
while i < len(l1):
     
    for k in l2:
        if l1[i] == k:
            del l1[i]
            i -= 1
    i+=1
print(l1)

['c', 'd']

In [94]:
l1 = ['a', 'b', 'c', 'd', 'a', 'b', 'a', 'b']
l2 = ['b', 'a']
# while True:
for v in l2:
    while v in l1:
        try:
            l1.remove(v)
        except Exception as e:
            print(e)
print(l1)

['c', 'd']

In [96]:
l1 = ['a','b','c','d','a','b','a','b']
l2 = ['b','a']
a = []
b =0
for i in l1:
    for j in l2:
        if i == j:
            a.append(b)
            #l1.pop(b)
    b=b+1
a.reverse()
for i in a:
    l1.pop(i)
print(l1)

['c', 'd']

In [101]:
l1 = ['a', 'b', 'c', 'd', 'a', 'b', 'a', 'b']
l2 = ['b', 'a']
l1c = l1.copy()
for i in l1c:
    if i in l2:
        l1.remove(i)

print(l1)

['c', 'd']

# 리스트와 딕셔너리 비교

In [105]:
l = [10, 20, 30]
print(l[1])
l[1] = 200
print(l[1])

20
200

In [103]:
d = {0:10, 1:20, 2:30}
d[1]

20

In [106]:
d = {'id':10, 'age':20, 'footsize':30}
print(d['age'])
d['age'] = 200
print(d['age'])

20
200

## 사전을 활용한 알파벳 별 빈도 구하기

In [108]:
s = 'life is short, so python is easy.'
punct = ',. '
d = {}

for c in s:
    if c in punct:
        continue
    d[c] = d.get(c, 0) + 1
d

{'l': 1,
 'i': 3,
 'f': 1,
 'e': 2,
 's': 5,
 'h': 2,
 'o': 3,
 'r': 1,
 't': 2,
 'p': 1,
 'y': 2,
 'n': 1,
 'a': 1}

In [111]:
# word count (단어빈도 구하기)
s = 'life is short, so python is easy. he is very nice person.'
s = s.lower()
s = s.replace(',', '')
s = s.replace('.', '')
punct = ['is', 'so']
d = {}

for c in s.split(' '):
    if c in punct:
        continue
    d[c] = d.get(c, 0) + 1
d

{'life': 1,
 'short': 1,
 'python': 1,
 'easy': 1,
 'he': 1,
 'very': 1,
 'nice': 1,
 'person': 1}